<div class="form-header">
  <h2>Pull remote changes</h2>
</div>
<form method="post" action="/contact" novalidate>
  <div class="form-field">
    <label for="user">User</label>
    <textarea class="input" id="user" name="user" autofocus></textarea>
  </div>
  <div class="form-field">
    <label for="password">Password</label>
    <input class="input" id="password" name="password" type="password" value="" />
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Pull</button>
  </div>
</form>
